@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&family=Noto+Sans:ital,wght@0,600;1,400&display=swap');
*{
 padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: 'Dosis', sans-serif;
  background-color: #a9c9d8;
}
.container{
  max-width: 95%;
  margin: auto;
}
.d_flex {
  display: flex;
  justify-content: space-between;
}
.f_flex {
display: flex;
}
a{
  text-decoration: none;
  color: black;
}
li{
  list-style:none;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
button{
  border: none;
  outline: none;
  background-color: none;
}
.btn_shadow {
  padding: 18px 25px;
  border-radius: 6px;
  transition: 0.5s all ease;
  cursor: pointer;
  color: blueviolet;
} 

.btn_shadow {
  background: linear-gradient(145deg,#7baa68, #8bcf71);
  box-shadow: 4ps 4ps 8px #5d854d, 4px -4p 8px #8bcf71;
} 
.card {
  margin: 1em;
  box-shadow: 0 0 6px #000;
  object-fit: cover;
  flex: 0 0 25%; /* each card will be 25% width */
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;

}
.btn_shadow:hover{
  background-color: crimson;
  color: cornflowerblue;
  transform: translateY(-10px);
}
a:hover  {
  color: white;
}
/*
.home_btn_shadow:hover{
  color: white;
  transform: scale(1.2);
}*/
.row,
.left,
.right {
  width: 60%;
}
.top {
  margin-top: 5%;
}
.mtop {
  margin-top:40px ;
}
.heading{
  margin: 50px 0 50px 0;
}
.heading h4{
  color: blue;
  letter-spacing: 2px;
  font-weight: 400;
}
.heading h1 {
  font-size:60px ;
  color:chocolate
}
h1{
  color: chocolate;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}
p{
  color: chocolate;
}
.text-center {
  text-align: center;
}
