.pro {
   position:relative; 
}

.pro h3 {
    font-weight: 500;
    letter-spacing: 1px;
}

.pro h1 {
    font-weight: bold;
    font-size: 60px;

}

.pro h1 span {
    color: #5b8c80;
}

.pro h2{
    font-size: 50px;
    font-weight: bold;
    color:#748177;
}

.pro h2 span {
   color:#999b86; 
}

.pro p {
    font-size: 18px;
    line-height: 30px;
    margin-top: 30px;
}

.pro .right {
    width: 60%;
}

    /* background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 4px 4px 8px #cbcbcb, 4px -4px 8px #ffffff; */


.pro .right_img img {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    width: 500px;
margin-right: 100px;
z-index: -1000;
}